*** Settings ***
Documentation       {{ suite_doc | default("Create a single Campaign and verify the success toast / detail page.") }}
Library             SeleniumLibrary
Resource            ../../Resources/Common/GlobalKeywords.robot
Resource            ../../Resources/PO/Platform/CampaignPO.robot

Test Setup          Begin Web Test
Test Teardown       End Web Test


*** Test Cases ***
{{ test_title }}
    [Documentation]    {{ documentation }}
    [Tags]    {{ tags | join("    ") }}
    GlobalKeywords.Login To Sandbox    ${globalSandboxTestUrl}    ${sandboxUserNameInput}    ${sandboxPasswordInput}
    CampaignPO.Open New Campaign From App
    {{ create_campaign_call }}
    CampaignPO.Verify Campaign Created Successfully
